.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
   
    /* Center the container horizontally */
}
.back{
background: url('../pages/image.png')no-repeat;background-size: cover;background-position: top;height: 50vh;
}
.back img{
  
    background-size: cover;width: 100%;opacity: 0.3;
}

@keyframes CardEnimation {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}

.box {
    padding-bottom: 100px;
    animation-name: CardEnimation;
     animation-duration: 4s;
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem 1rem;
    box-shadow: 11px -1px 8px 7px #8d777796;
    background-color: rgb(255, 255, 255);
   height: fit-content;
    width: 280px;
    box-shadow: 1px 4px 8px 10px #8d777796;
}

.box .image {
    height: 170px;
    width: 100%;border-radius: 30px;
}
#navbar{
    background-color: rgba(0, 0, 0, 0.827);padding: 1.2rem;border-radius: 10px;
}
.nav-item{
    font-size: 1.4rem;
}
.HeaderContents{
  padding: 10rem .3rem;background-color: rgba(0, 0, 0, 0.392);height:100%;
}
.HeaderContents h1{
    color: #eb2f06;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.HeaderContents p {
    color: #ffffff;font-size: 2rem;font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}